:root {
  --brand-font-family: "Michroma", sans-serif;
  --left-gutter: 50px;
  --right-gutter: 50px;

  --max-page-width: 1500px;

  --primary-color: #1d3557;
  --secondary-color: #457b9d;

  --color-1: #a8dadc;
  --color-2: #f1faee;
  --color-3: #e63946;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
